name: Documentation generation

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

permissions:
  contents: write

jobs:
  build-doc:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r docs/requirements.txt

      - name: Generate doc
        run: |
          cd docs
          mkdocs build
          cp -R site/ ~/html
          cd ..

      - name: Deploy doc
        if: github.ref == 'refs/heads/main'
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git fetch origin gh-pages && git checkout gh-pages
          rm -rf *
          cp -R ~/html/* .
          touch .nojekyll
          git add .
          git commit --allow-empty -m "update doc"
          git push